# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.VSCodeCounter
.lh
.agents
server/data/*.sqlite
server/data/*.sqlite-*
server/tmp/upload/*
!server/tmp/upload/.gitkeep
server/uploads/*
!server/uploads/.gitkeep
server/download/*
!server/download/.gitkeep
backup